body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

header{
  padding: 20px;
  text-align: center;
  background: #0195ba;
  color: white;
  font-size: 30px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0195ba;
    color: white;
    text-align: center;
  }

  

